<!DOCTYPE html>
<html lang="tr">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>@ViewData["Title"] - Fitness Center Admin</title>

    <link href="~/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

    <link href="~/css-admin/sb-admin-2.min.css" rel="stylesheet">
    <style>
        body {
            font-family: 'Roboto', sans-serif;
            font-weight: 700;
        }

        .sidebar .nav-link {
            font-family: 'Roboto', sans-serif;
            font-weight: 700;
        }
    </style>
</head>

<body id="page-top">

    <div id="wrapper">

        <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

            <a class="sidebar-brand d-flex align-items-center justify-content-center" asp-controller="AdminDashboard" asp-action="Index">
                <div class="sidebar-brand-icon rotate-n-15">
                    <i class="fas fa-dumbbell"></i> 
                </div>
                <div class="sidebar-brand-text mx-3">Fitness Admin</div>
            </a>

            <hr class="sidebar-divider my-0">

            <li class="nav-item">
                <a class="nav-link" asp-controller="AdminDashboard" asp-action="Index">
                    <i class="fas fa-fw fa-tachometer-alt"></i>
                    <span>Dashboard</span>
                </a>
            </li>

            <hr class="sidebar-divider">

            <li class="nav-item">
                <a class="nav-link" asp-controller="Personel" asp-action="Index">
                    <i class="fas fa-fw fa-user-tie"></i>
                    <span>Antrenör Yönetimi</span>
                </a>
            </li>

            <li class="nav-item">
                <a class="nav-link" asp-controller="Islem" asp-action="Index">
                    <i class="fas fa-fw fa-layer-group"></i>
                    <span>Üyelik Paketleri</span>
                </a>
            </li>

            <li class="nav-item">
                <a class="nav-link" asp-controller="PersonelUzmanlik" asp-action="Index">
                    <i class="fas fa-fw fa-certificate"></i>
                    <span>Uzmanlık Alanları</span>
                </a>
            </li>

            <li class="nav-item">
                <a class="nav-link" asp-controller="Randevu" asp-action="Index">
                    <i class="fas fa-fw fa-calendar-check"></i>
                    <span>Üye Randevuları</span>
                </a>
            </li>

            <li class="nav-item">
                <a class="nav-link btn btn-success text-white mx-2 mt-3" asp-controller="Kazanc" asp-action="Index">
                    <i class="fas fa-fw fa-lira-sign"></i>
                    <span>Finansal Rapor</span>
                </a>
            </li>

            <hr class="sidebar-divider mt-3">

            <li class="nav-item">
                <a class="nav-link text-danger font-weight-bold" asp-controller="Account" asp-action="Logout">
                    <i class="fas fa-fw fa-sign-out-alt"></i>
                    <span>Çıkış Yap</span>
                </a>
            </li>

            <hr class="sidebar-divider d-none d-md-block">

        </ul>
        
        <div id="content-wrapper" class="d-flex flex-column">
            <div id="content">

                <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">
                    <h5 class="ml-3 font-weight-bold text-primary">Fitness Center Yönetim Paneli</h5>
                </nav>

                <div class="container-fluid">
                    @RenderBody()
                </div>

            </div>

            <footer class="sticky-footer bg-white">
                <div class="container my-auto">
                    <div class="copyright text-center my-auto">
                        <span>Copyright &copy; Fitness Center 2025</span>
                    </div>
                </div>
            </footer>
        </div>
    </div>

    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>

    <script src="~/vendor/jquery/jquery.min.js"></script>
    <script src="~/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/vendor/jquery-easing/jquery.easing.min.js"></script>
    <script src="~/js-admin/sb-admin-2.min.js"></script>
    @await RenderSectionAsync("Scripts", required: false)

</body>
</html>