@model Fitness_Center_Web_Project.Models.UserLogin

@{
    ViewData["Title"] = "Giriş yap";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    .form-container {
        max-width: 400px;
        margin: 0 auto;
        margin-top: 100px;
        padding: 20px;
        border: 1px solid #ddd;
        border-radius: 10px;
        background-color: #fff;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    }

        .form-container h2 {
            text-align: center;
            margin-bottom: 20px;
        }

        .form-container button {
            display: block;
            margin: 20px auto 0 auto;
        }

        .form-container p {
            text-align: center;
        }
</style>

<div class="form-container">
    <h2>Giriş Yap</h2>

    @if (ViewBag.ErrorMessage != null)
    {
    <div class="alert alert-danger">@ViewBag.ErrorMessage</div>
    }

    <form asp-action="Login" method="post">
        @Html.AntiForgeryToken()

        <div class="form-group">
            <label asp-for="Email"></label>
            <input asp-for="Email" class="form-control" />
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="Sifre"></label>
            <input asp-for="Sifre" type="password" class="form-control" />
            <span asp-validation-for="Sifre" class="text-danger"></span>
        </div>

        <button type="submit" class="btn btn-primary">Giriş Yap</button>
    </form>

    <p>
        Hesabınız yok mu? <a asp-action="Register">Kayıt olun</a>.
    </p>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
