html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}
.hero .hero-img-wrap {
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.hero .hero-img {
    width: 100%;
    max-width: 980px; /* Ýstersen 900-1100 arasý dene */
    height: 460px; /* Sabit yükseklik veriyoruz */
    object-fit: cover; /* Görseli bozmadan alaný doldurur */
    border-radius: 18px;
    display: block;
}
